<div class="contenu">
    <aside class="header-bar">
        <div class="section-left">
            <div>
                <span class="icon"><mat-icon>person</mat-icon></span>
                <div class="boxHeader">Bonjour {{name ?? "NOM_PERSONNE"}}, <br> >
                    <a class="headerLink" href="/sedeconnecter"> Se deconnecter</a>
                </div>
            </div>
            <div>
                <span>
                    <mat-icon class="icon">date_range</mat-icon>
                </span>
                <div class="boxHeader">
                    Membre depuis le :<br> {{dateInscritpion ?? "Aujourd'hui"}}
                </div>

            </div>
        </div>

        <div class="section-right">
            <img src="../../../../../assets/bell.png" alt="">
            <img src="../../../../../assets/wallet.png" alt="">
            Mes credits : <br> {{credit ?? 0}} FCFA
        </div>

    </aside>
    <nav>
        <ul class="nav-menu">
            <li><button routerLink="annonces" [ngClass]="getClassButton(1)" (click)="setMenuActif(1)">Mes annonces ({{nombreAnnonces
                    ??
                    0}})</button></li>
            <li><button routerLink="favoris" (click)="setMenuActif(2)" [ngClass]="getClassButton(2)">Mes favoris ({{nombreFavoris ??
                    0}})</button></li>
            <li><button routerLink="achats" (click)="setMenuActif(3)" [ngClass]="getClassButton(3)">Mes achats</button></li>
            <li><button [ngClass]="" routerLink="parametres" (click)="setMenuActif(4)" [ngClass]="getClassButton(4)">Paramètres</button>
            </li>
        </ul>
    </nav>
    <div class="dashboard-container">
        <div id="filtres">
            <ul id="filtres">
                <li class="filtre-li">Filtrer par :</li>
                <li class="filtre-li"><a href="">Tous</a></li>
                <li id="enattente" class="filtre-li"><a href="">En attente</a>
                </li>
                <li id="publie" class="filtre-li"><a href="">Publié</a></li>
                <li id="efface" class="filtre-li"><a href="">Effacé</a></li>
            </ul>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>