<div class="conteneur-auth">
    <ul class="paragraphes">
        <li>
            <p><b>Un</b> compte. <b>Tous</b> les services</p>
        </li>
        <li>Désormais, avec un seul compte, vous pouvez vous connecter à tous ces services :</li>
        <li>
            <p>
                <img src="../../../../assets/img-jumia&Food.PNG" alt="">
            </p>
        </li>
        <li></li>
    </ul>
    <div id="box-inscription">
        <form [formGroup]="utilisateurForm" (ngSubmit)="authenticate()">
            <ul id="form-connexion">
                <li>
                    <h2>Se connecter</h2>
                </li>
                <li>
                    <input class="input-auth" [class.errorStyle]="emailValid()" type="email"
                        placeholder="Votre adresse email" formControlName="email">
                        <div *ngIf= "emailValid()"
                        class="errorMsg" >Email Invalide</div>
                </li>
                <li>
                    <input class="input-auth" placeholder="Votre Mot de passe" type="password"
                        formControlName="password">
                        <div class="errorMsg" *ngIf= "passwordValid()" >Entrez un mot de passe d'au moins 4 caractères</div>
                </li>
                <input class="input-auth" id="submit-auth" type="submit" value="Se connecter">
                <div *ngIf="" class="errorMsg">Email ou mot de passe erroné</div>
            </ul>
        </form>
        <hr>
        <div style="margin-top: 15px;">
            <input id="facebook-link" class="input-auth" type="submit" value="Se connecter Via Facebook">
        </div>
    </div>

</div>