<div id="publications">
    <img src="" alt="image publication">
    <div class="description">
        <div>
            <p><a>Titre de notre article</a></p>
            <p>Prix de l'article</p>
        </div>
        <div>
            <p>
                type article
                <br>
                Date création publication
            </p>
            <p>Nombre de vu</p>
        </div>
    </div>
    <div class="ligne-vertical">
    </div>
    <div id="etat-publication">
        <span><a href="">changer état de l'annonce</a></span>
        <span id="">Etat publication</span>
    </div>
</div>