#header-pages {
    position: relative;
    background-color: #fafafa;
    height: 25px;
    text-align: center;
    color: #888888;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-color: #e7e2e2;
    border-style: solid;
    border-width: 1px;
}
.center-elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerBtn {
    color: inherit;
    text-decoration: none;
}

#jumiaHeaderBtn:hover {
    color: #1d1d1d;
}

#dealsHeaderBtn {
    color: #2B88DE;
}

#foodHeaderBtn:hover {
    color: #cf4c24;
}

#triangle {
    width: 1px;
    height: 1px;border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fafafa;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

#header-fonctions{
    border-color:transparent transparent  #e7e2e2 transparent;
    border-style: solid;
    border-bottom-width: 1px;
    height: 75px;
}

.elements{
    gap: 25px;
}

.header-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: inherit;
    color: #2B88DE;
    vertical-align: middle;
}
.header-link:hover{
    color: #062a4c;
}

.btn-annonce{
    height: 45px;
    width: 240px;
    background-color: #FEE433;
    color: #1d1d1d;
    border-color: yellow;
    border-radius: 5px;
    size: 25px;
    font-size: large;
    font-weight: bold;
}
.btn-annonce:hover{
    background-color: #ecd32e;
}

#compteDiag{
    width: 200px;
    height: 250px;
    position: absolute;
    border-width: 2px;
    border-color: #1d1d1d;
    background-color: #2B88DE;
    top: 20px;
}
