<div class="header-conteneur">
    <div id="header-pages">
        <a href="" class="headerBtn" id="jumiaHeaderBtn">JUMIA
        </a>|
        <a href="" class="headerBtn" id="dealsHeaderBtn">DEALS</a>
        | <a href="" class="headerBtn" id="foodHeaderBtn">FOOD</a>
        <div id="triangle">
        </div>
    </div>
        <div class="conteneur-links">
            <div class="center-elements" id="header-fonctions">
                <div class=" center-elements elements">
                    <a class="header-link" href="">
                        <img src=".\assets\deals.PNG" href="">
                    </a>
                    <a class="header-link" href="">
                        Toutes les annonces
                    </a>
                    <a class="header-link" href="">
                        Boutiques
                    </a>
                    <a class="header-link" href="">
                        Aide
                    </a>
                </div>
                <div class="center-elements elements">
                    <app-compte></app-compte>

                    <button class="btn-annonce">
                        Publiez Votre annonce
                    </button>
                </div>
            </div>
        </div>
</div>