<div id="header-pages">
    <a href="" class="headerBtn" id="jumiaHeaderBtn">JUMIA
    </a>|
    <a href="" class="headerBtn" id="dealsHeaderBtn">DEALS</a>
    | <a href="" class="headerBtn" id="foodHeaderBtn">FOOD</a>
    <div id="triangle">
    </div>
</div>
<div class="body">
    <div id="conteneur">
        <div class="center-elements" id="header-fonctions">
            <div class=" center-elements elements">
                <a href="">
                    <img src=".\assets\deals.PNG" href="">
                </a>
                <a href="">
                    Toutes les annonces
                </a>
                <a href="">
                    Boutiques
                </a>
                <a href="">
                    Aide
                </a>
            </div>
            <div class="center-elements elements">
                <a href="">
                    Mon Compte
                </a>
                <button>
                    Publiez Votre annonce
                </button>
            </div>
        </div>
    </div>

</div>