<div id="compte">
    <div id="compteEtDiag" (mouseover)="showDiag()" (mouseout)="hideDiag()">
        <a id="compteLink" class="header-link" href=""><mat-icon>account_circle</mat-icon>
            Mon Compte
        </a>
    </div>
    <div [id]="diag ? 'compteDiag' : 'hide'" (mouseover)="showDiag()" (mouseout)="hideDiag()">
            <button id="btnDiag">
                <a id="lien-sancss" href="/auth">Se connecter</a></button>
        <ul id="link-compteDiag">
            <li>Publier une annonce</li>
            <li>Mes favoris</li>
            <li><a class="link" href="/register">
                    Créer un compte
                </a></li>
            <hr>
            <li>Mot de passe oublié ?</li>
        </ul>
    </div>

</div>