<div id="box-inscription" class="box-formulaire">
    <ul id="form-connexion">
        <li><h2>Pas encore membre ? <br>Inscrivez-vous gratuitement !</h2></li>
        <li><span style="color: rgb(26, 151, 223);">En 30 secondes</span> avec une adresse mail</li>
        <form>
            <ul id="form-connexion">
                <li><input placeholder="Nom" class="input-auth" type="text"></li>
                <li><input placeholder="Email :"  class="input-auth" type="email"></li>
                <li><input placeholder="Numero de téléphone principal" class="input-auth"></li>
                <div id="whatsapp-span"><input type="checkbox" id="checkbox">Fonctionne avec Whatsapp</div>
                    
                <li><input class="input-auth" type="password" placeholder="Mot de passe"></li>
                <input class="input-auth" id="submit-auth" type="button" value="S'inscrire gratuitement">
            </ul>
        </form>
        <hr>
        <div style="text-align: center;">
            <div style="margin-top: 15px;">
                <li><span style="color: rgb(26, 151, 223);">En 2 secondes </span>avec Facebook</li>
                <br>
                <input id="facebook-link" class="input-auth" type="submit" value="S'enregistrer avec Facebook">
            </div>
        </div>
    </ul>
</div>
<div id="div-connexion">Déjà inscrit ? <a href="/auth" id="">Connectez-vous maintenant !</a></div>
