<br>
<ul class="paragraphes">
    <li>
        <p><b>Un</b> compte. <b>Tous</b> les services</p>
    </li>
    <li>Désormais, avec un seul compte, vous pouvez vous connecter à tous ces services :</li>
    <li>
        <p>
            <img src="../../../../assets/img-jumia&Food.PNG" alt="">
        </p>
    </li>
    <li></li>
</ul>
<div id="box-inscription" class="box-formulaire">
    <ul id="form-connexion">
        <li><h2>Pas encore membre ? <br>Inscrivez-vous gratuitement !</h2></li>
        <li><span style="color: rgb(26, 151, 223);">En 30 secondes</span> avec une adresse mail</li>
        <form [formGroup] = "registationForm" >
            <ul id="form-connexion">
                <li><input formControlName="nom" placeholder="Nom" class="input-auth" type="text"
                [class.errorStyle]="isNameValid()"></li>
                <li><input formControlName="email" placeholder="Email :"  class="input-auth" type="email"
                [class.errorStyle]="isEmailValid()"></li>
                <li><input formControlName="numero" placeholder="Numero de téléphone principal" class="input-auth"
                [class.errorStyle]="isNumeroValid()"></li>
                <div id="whatsapp-span"><input type="checkbox" id="checkbox"
                [(ngModel)]="isWhatsapp">Fonctionne avec Whatsapp</div>
                    
                <li><input formControlName="password" class="input-auth" type="password" placeholder="Mot de passe"></li>
                <input onclick="inscription" class="input-auth" id="submit-auth" type="button" value="S'inscrire gratuitement">
            </ul>
        </form>
        <hr>
        <div style="text-align: center;">
            <div style="margin-top: 15px;">
                <li><span style="color: rgb(26, 151, 223);">En 2 secondes </span>avec Facebook</li>
                <br>
                <input id="facebook-link" class="input-auth" type="submit" value="S'enregistrer avec Facebook">
            </div>
        </div>
    </ul>
</div>
<div id="div-connexion">Déjà inscrit ? <a href="/auth" id="">Connectez-vous maintenant !</a></div>
