.header-bar{
    height: 50px;
    background-color: #0a6ead;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 2%;
    
}

.boxHeader{
    display: inline-block;
    vertical-align: middle;
}
.section-left{
    display: flex;
    color: white;
    gap: 20px;
}
.section-right{
    display: flex;
    gap: 15px;
    color: white;
    align-items: center;
}
.section-right>img{
    height: 38px;
}
.headerLink{
    color: white;
}
.headerLink:hover{
    color: rgb(216, 16, 56);
}
.icon{
    height: 30px;
    width: 30px;
    position: relative;
    top: 10px;
    padding-right: 3px;
}
.nav-menu{
    margin: 0;
    padding: 0;

}
.nav-menu>li{
    display: inline-block;
    width: 24.79%;
    height: 40px;
    background-color: #eaeaea;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(188, 188, 188);
    text-align: center;
    border-radius: 3px;
}
.menuButton{
    border: inherit;
    border-width: 0px;
    display: block;
    text-decoration: inherit;
    color: #000000;
    height: 100%;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.onFocusMenu{
    background: rgb(157, 220, 250);
    
}
button:hover{
    background-color: rgb(157, 220, 250);
}

.dashboard-container{
    border-width: 1px;
    border-color: #eaeaea;
    border-style: solid;
    height: auto;
    width: auto;
    min-height: 400px;
    padding-bottom: 20px;
}

#filtres{
    margin: 0;
    padding: 0;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
}

.filtre-li{
    position: relative;
    display: inline-block;
    padding: 10px;
    padding-left: 20px;
}
.filtre-li::before{
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    top: 16px;
    left: 6px;
    border-radius: 50%;
}

.filtre-li>a{
    text-decoration: inherit;
    font-style: inherit;
    color: #2B88DE;
}
.filtre-li>a:hover{
    color: #103454;
}
.active-link{
    color: #000;
    pointer-events: non;
}
#enattente::before{
    background: #ffb515;
}
#publie::before{
    background: #23cc5e;
}#efface::before{
    background: #f11d1d;
}
#publications{
    display: flex;
    padding: 10px;
}
#publications>img{
    width: 150px;
    height: 150px;
    margin-right: 20px;
    background-color: aliceblue;
}
.description{
    min-width: 490px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;
}

.description>div{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#etat-publication{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: #eaeaea solid 1px;
    padding-left: 10px;
    
}

