<div class="footer">
    <div class="footer-containeur">
        <section class="section">
            <p>
                <img src=".\assets\footer deals.PNG">
            </p>

            <p>
                Copyright 2023 ©AngeATT  </p>
            <p>
                contacter le service client : angeattoungbre21@gmail.com
            </p>



        </section>
        <section class="section">
            <div class="contenu-section-footer">
                <p class="titre-section">Nos conseils</p>
                <ul class="link-footer">
                    <li>Vendre rapidement</li>
                    <li>Conseils de sécurité</li>
                    <li>Comment ça marche</li>
                    <li>Booster mon annonce</li>
                    <li>Les crédits Jumia Deals</li>
                    <li>Nos boutiques</li></ul>
                <p>
                </p>
                <p class="titre-section">Aide</p>
                <ul class="link-footer">
                    <li>FAQ</li>
                    <li>Règlement de Publication</li>
                    <li>Contactez-nous</li>
                    <li>Conditions d'utilisation</li>
                    <li>Politique de confidentialité</li>
                </ul>

            </div>
        </section>
        <section class="section">
            <div class="contenu-section-footer">
                <p class="titre-section">Voitures à vendre</p>
            <ul class="link-footer">
                <li>Toyota</li>
                <li>Bmw</li>
                <li>Mercedes</li>
                <li>Peugeot</li>
                <li>Honda</li>
                <li>Kia</li>
                <li>Nissa</li>
            </ul>
            </div>

        </section>
        <section class="section">
            <div class="contenu-section-footer"><p class="titre-section">Telephone à vendre</p>
            <ul class="link-footer">
                <li>Smartphones Samsung</li>
                <li>Iphones</li>
                <li>Smartphones Alcatel</li>
                <li>Smartphones BlackBerry</li>
                <li>Smartphones HTC</li>
                <li>Smartphones LG</li>
                <li>Smartphones Sony</li>
            </ul></div>

        </section>
        <section class="section">
            <div class="contenu-section-footer"><p class="titre-section">
                Petites annonces à Abidjan
            </p>
            <ul class="link-footer">
                <li>Immobilier à Abidjan</li>
                <li>Appartements à Abidjan</li>
                <li>Maisons & villas à ABidjan</li>
                <li>Bureaux & magasins à Abidjan </li>
                <li>Terrains & parcelles à Abidjan</li>
                <li>Offres d'emploi à Abidjan</li>
                <li>Meubles à Abidjan</li>
                <li>Voitures à Abidjan</li>
            </ul></div>

        </section>
    </div>
</div>
