.confirmation-succes{
    margin-top: 10px;
    width: 970px;
    height: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(233, 143, 33);
    background-color: #EBCCD1;
    color: #B35A59;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}