#title{
    text-align: left;
    color: rgb(201, 4, 4);
}
#ville{
    font-weight: 500;
    margin-bottom: 0;
}
#villes{
    color: blue;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80px;
    width: 400px;
    padding-left: 0px;
    padding-top: 10px;

}
#ville-container{
    display: inline-block;
}
#publier-annonce{
    width: 340px;
    padding: 15px 0px;
    background-image: linear-gradient(to bottom, #ffeb43 0%,#f9cd00 100%);
    border-width: 0px;
    box-shadow: 2px;
    margin-top: 17px;
}
#publier-annonce>a{
    text-decoration: none;
    font-size: 16px;
}
#publier-annonce:hover{
    background-image: linear-gradient(to bottom, #e9d520 0%,#f9cd00 100%);;
    cursor: pointer;
}
#appel-action{
    display: flex;
    justify-content: space-between;
}
.img-v{
    position: relative;
    top: 10px;
}
#voir-annonces-link{
    text-decoration: none;
    color: rgb(29, 29, 230);
    padding-left: 10px;
}

#part1-action{
    width: 351px;
}

#liste-action{
    line-height: 45px;
}

